body{
    margin: 0;
    padding: 0;
    
}

.container{
    text-align: center;
}

.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Montserrat";
    margin: 10px;
    color: #3498db;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.click:hover{
    color: white;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.click::before{
    top:0;
    border-radius: 0 0 50% 50%;
}

.click:hover::before{
    height: 180%;
}

.modal-parent{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}

.modal{
    background: white;
    width: 70%;
    padding: 30px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    animation: 1s drop;
}

@keyframes drop{
    0%{
        top: -100px;
    }
    100%{
        top:50%;
    }
}

.X{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 40px;
    cursor: pointer;

}

section{
    transition: 2s;
}