* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.numero {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 4px;
}

.dado {
    text-align: center;
}

.a {
    background: lightgray;
    color: black;
    text-align: center;
}